{% block content %}
    <div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
 
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content flex items-start flex-col text-neutral-content ">
        <div class="md:w-3/6">
          <h1 class="text-5xl md:text-5xl font-bold">
            Desenvolvedor de Software experient e apaixonado
          </h1>
          <p class="py-6">
            Com ampla experiência em desenvolvimento de software e habilidades técnicas avançadas, estou pronto para enfrentar qualquer desafio e entregar soluções de alta qualidade.
          </p>
          <div class="flex justify-between max-w-60">
            <button class="btn btn-neutral bg-black rounded">Saiba Mais</button>
            <button class="btn btn-ghost">Inscreva-se</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
