{% load svg %}

{% block content %}
 
    <section id="banner" class="hero min-h-screen">
      <div id="particles-js" class="bg-accent-content"></div>
      <div class="hero-content flex items-start flex-col text-neutral-content ">
        <div class="md:w-1/2">
          <h1 class="text-4xl md:text-5xl font-bold">
            Desenvolvedor de Software e estudande de Engenharia Eletrônica
          </h1>
          <p class="py-6">
            Com ampla experiência em desenvolvimento de software e habilidades técnicas, estou pronto para enfrentar qualquer desafio e entregar soluções de alta qualidade.
          </p>
          <div class="flex justify-between max-w-60">
            <a 
              href="https://www.linkedin.com/in/daniel-silva-franca/"
              target="blank"
            >
            <button class="btn btn-neutral bg-accent-content rounded">
              <figure class="fill-white size-5">
                {% svg 'icons8-linkedin' %}
              </figure>
              Linkedin
            </button>
            </a>
            <a
              href="https://github.com/DanielFrancaContaGit"
              target="blank"
            >
            <button class="btn btn-ghost">
              <figure class="size-7 fill-white">
                {% svg 'icons8-github' %}
              </figure>
              Github
            </button>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
