{% load svg %}

{% block content %}
  <div class="hero h-screen"> 
    <div class="hero-content flex-col-reverse justify-around md:flex-row-reverse">

      <figure class="rounded-lg w-80 lg:w-96">

        {% svg 'online' %} 
      </figure>

      <div class="md:w-1/2 md:px-10">

        <h1 class="text-4xl md:text-5xl font-bold text-base-content">
          Receba atualizações sobre projetos e posts
        </h1>
        <p class="pt-6">
          Inscreva-se para receber as últimas novidades e atualizações
        </p>
        <div class="py-6 hidden md:flex">
          <input class="input input-bordered border-black rounded " placeholder="Digite seu Email" />
          <button class="btn md:ml-3 bg-black text-white rounded mt-5 md:mt-0 ">Inscrever</button>
        </div>
        <div class="py-6 felx md:hidden xl:flex-row">
          <input class="input input-bordered border-black rounded w-full" placeholder="Digite seu Email" />
          <button class="btn bg-black text-white rounded mt-5 md:mt-0 w-full">Inscrever</button>
        </div>

        <p>
          Ao clicar em Inscrever-se, você confirma que concorda com nossos Termos e Condições.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
