{% load static %} 
{% block content %}
  <section class="flex mt-10 flex-col justify-center items-center md:p-10">
    <div class=" md:pl-20 mb-24 w-full px-5">
      <h1 class="text-4xl md:text-5xl font-bold text-base-content my-4">
        Projetos que já desenvolvi
      </h1>
      <p>Aqui estão alguns projetos que fiz, que posso compartilhar</p>
    </div>

    <div class="flex flex-col xl:flex-row justify-around items-center w-full md:px-20">
      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure class="max-h-56">
          <img 
           src="{% static 'imgs/feira-da-fruta.png' %}" 
            />
        </figure>
        <div class="card-body">
          <p class="text-sm font-bold text-base-content">Web site</p>
          <h2 class="card-title font-bold text-base-content">
            Feira online, site para comprar frutas pela internet
          </h2>
          <p>Django, htmx</p>
          <div class="card-actions mt-5">
            <a 
              href="https://django-tw-site.onrender.com/"
              target="blank"
            >
            <button class="btn btn-outline">
              Ver Projeto
            </button>
            </a>

          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure class="max-h-56">
          <img 
           src="{% static 'imgs/tudo.png' %}"
            alt="Shoes" 
          />
        </figure>
        <div class="card-body">
          <p class="text-sm font-bold text-base-content">Web site</p>
          <h2 class="card-title font-bold text-base-content">
            Sistema de Gerenciamento de tarefas
          </h2>
          <p>Django, Django Rest, Bootstrap</p>
          <div class="card-actions mt-5">
            <a 
              href="https://desafio-fiscallize.onrender.com/"
              target="blank"
            >
            <button class="btn btn-outline">
              Ver Projeto
            </button>
            </a>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure>
          <img 
           src="{% static 'imgs/old-portfolio.png' %}" 
          
          />
        </figure>
        <div class="card-body">
          <p class="text-sm font-bold text-base-content">Web site</p>
          <h2 class="card-title font-bold text-base-content">
            Antigo portfolio pessoal
          </h2>
          <p>Vue JS, Vuetfy</p>
          <div class="card-actions mt-5">
            <a 
              href="https://danielfranca.netlify.app/"
              target="blank"
            >
            <button class="btn btn-outline">
              Ver Projeto
            </button>
            </a>

          </div>
        </div>
      </div>
    </div>
    <a 
      href="https://github.com/DanielFrancaContaGit"
      target="blank"
    >
    <button class="btn btn-outline justify-self-end rounded mt-20">Ver Todos</button>
    </a>
  </section>
{% endblock %}
