{% block content %}
  <div class="flex mt-10 flex-col justify-center items-center md:p-10">
    <div class="w-screen md:pl-20 mb-24 px-5">
      <p class="font-bold text-black">Blog</p>
      <h1 class="text-5xl font-bold text-black my-4">
        Cursos Realizados Pelo <br /> Desenvolvedor
      </h1>
      <p>Aprimore suas habilidades com cursos relevantes</p>
    </div>

    <div class="flex flex-col xl:flex-row justify-around items-center w-screen md:px-20">
      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <p class="text-sm font-bold text-black">Categoria</p>
          <h2 class="card-title font-bold text-black">
            Título do Blog Aqui
          </h2>
          <p>Descrição do conteúdo do blog</p>
          <div class="card-actions mt-5">
            <div class="avatar">
              <div class="w-10 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
            <div>
              <h1>Nome Completo</h1>
              <p>11 jan 2024 - 5 min de leitura</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <p class="text-sm font-bold text-black">Categoria</p>
          <h2 class="card-title font-bold text-black">
            Título do Blog Aqui
          </h2>
          <p>Descrição do conteúdo do blog</p>
          <div class="card-actions mt-5">
            <div class="avatar">
              <div class="w-10 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
            <div>
              <h1>Nome Completo</h1>
              <p>11 jan 2024 - 5 min de leitura</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl rounded">
        <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <p class="text-sm font-bold text-black">Categoria</p>
          <h2 class="card-title font-bold text-black">
            Título do Blog Aqui
          </h2>
          <p>Descrição do conteúdo do blog</p>
          <div class="card-actions mt-5">
            <div class="avatar">
              <div class="w-10 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
            <div>
              <h1>Nome Completo</h1>
              <p>11 jan 2024 - 5 min de leitura</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-outline justify-self-end rounded mt-20">Ver todos</button>
  </div>
{% endblock %}
