{% block content %}
  <div class="flex flex-row w-full h-96 lg:flex-row justify-center items-center bg-black px-24">
      <div class="flex flex-col text-white content-around justify-center items-center">

          <h1 class="text-4xl font-bold my-3 text-center">
              Desenvolvimento de projetos <br/>
              personalizados
          </h1>
          <p class="my-10">
              Entre em contato para discutir suas ideias e iniciar uma parceria de sucesso.
          </p>
          <div class="flex justify-between min-w-60 mt-5">
              <button class="btn rounded text-black bg-white">Contato</button>
              <button class="btn btn-outline text-white rounded">Redes sociais</button>
          </div>
      </div>

  </div>
{% endblock %}
