{% load svg %}

{% block content %}

<div class="hero my-10">
      <div class="hero-content flex-col-reverse justify-around lg:flex-row-reverse">

        <figure class="">
          <img 
            src="https://avatars.githubusercontent.com/u/57536006?v=4" 
            class="rounded-full"
            />
          
        </figure>

        <div class=" lg:px-10">
          <h1 class="text-3xl lg:text-5xl font-bold">Desenvolvedor</h1>
          <p class="py-6 text-base">
            Contrate um desenvolvedor comprometido, que entrega código de qualidade e oferece suporte pós-entrega.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
