{% load svg %}

{% block content %}

<div class="hero mb-10">
      <div class="hero-content flex-col-reverse justify-around lg:flex-row-reverse">

        <figure class="rounded-full shadow-2xl lg:size-96">
          {% svg 'avatar' %}
        </figure>

        <div class="lg:w-1/2 lg:px-10">
          <h1 class="text-3xl lg:text-5xl font-bold">Desenvolvedor</h1>
          <p class="py-6">
            Contrate um desenvolvedor comprometido, que entrega código de qualidade e oferece suporte pós-entrega.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
