{% block content %}

<div class="flex flex-col md:flex-row justify-center items-center my-20 w-screen">
      <div class="card w-96 text-neutral-content rounded">
        <div class="card-body items-center text-base-content">
          <h2 class="card-title text-center font-bold">
            Serviços de <br />
            Desenvolvimento Web, <br />
            Design Responsivo e <br />
            Otimização SEO
          </h2>
          <p class="text-sm my-5">
            Nossos serviços incluem desenvolvimento web, design responsivo e otimização SEO para ajudar sua empresa a se destacar online.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-ghost rounded">Saiba mais</button>
            <button class="btn btn-ghost rounded">Increva-se</button>
          </div>
        </div>
      </div>
      <div class="card w-96 text-neutral-content rounded">
        <div class="card-body items-center text-base-content">
          <h2 class="card-title text-center font-bold">
            Serviços de <br />
            Desenvolvimento Web, <br />
            Design Responsivo e <br />
            Otimização SEO
          </h2>
          <p class="text-sm my-5">
            Nossos serviços incluem desenvolvimento web, design responsivo e otimização SEO para ajudar sua empresa a se destacar online.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-ghost rounded">Saiba mais</button>
            <button class="btn btn-ghost rounded">Increva-se</button>
          </div>
        </div>
      </div>
      <div class="card w-96 text-neutral-content rounded">
        <div class="card-body items-center text-base-content">
          <h2 class="card-title text-center font-bold">
            Serviços de <br />
            Desenvolvimento Web, <br />
            Design Responsivo e <br />
            Otimização SEO
          </h2>
          <p class="text-sm my-5">
            Nossos serviços incluem desenvolvimento web, design responsivo e otimização SEO para ajudar sua empresa a se destacar online.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-ghost rounded">Saiba mais</button>
            <button class="btn btn-ghost rounded">Increva-se</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
