{% block content %}

    <div class="hero min-h-screen ">
      <div class="hero-content flex-col-reverse md:justify-around md:flex-row-reverse">
        
        <figure className="rounded-lg shadow-2xl md:size-96">
          <img
            src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg"
            alt="Shoes"
            class="size-full object-none"
          />
        </figure>

        <div class="md:w-1/2 px-10">
          <h1 class="text-5xl font-bold">Português (BR)</h1>
          <p class="py-6">
            Sou um desenvolvedor apaixonado por tecnologia, com experiência em projetos desafiadores. Minhas habilidades incluem programação em várias linguagens, resolução de problemas e trabalho em equipe. Tenho formação acadêmica na área de Ciência da Computação e estou sempre em busca de aprendizado e crescimento profissional.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
