{% load svg %}

{% block content %}

    <div class="hero my-10">
      <div class="hero-content flex-col-reverse md:justify-around md:flex-row-reverse">
        
        <figure class="rounded-lg md:size-96">
          {% svg 'developer' %}
        </figure>

        <div class="md:w-1/2 px-10">
          <h1 class="text-5xl font-bold">Seja bem vindo(a) ao meu site!</h1>
          <p class="py-6 text-base">
            Sou Daniel um estudante do curso de Engenharia Eletrônica na UFPE (Universidade Federal de Pernambuco) e estou constantemente buscando crescimento profissional. Tenho habilidades em desenvolvimento web com as linguagens Python e JavaScript, utilizando os frameworks Django, Vue e React. Além disso, possuo conhecimento em engenharia de dados e computação em nuvem, utilizando ferramentas como Apache Air Flow e AWS.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
