{% load static %}

<!DOCTYPE html>
<html lang="pt" data-theme="emerald" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daniel França</title>
    <link href="{% static 'css/tw-main.css' %}" rel="stylesheet">

    <link media="screen" href="{% static 'particlejs/css/style.css' %}" rel="stylesheet">
   
  </head>
  <body>
    <!-- <div id="particles-js"></div> -->
    {% block content %}
    {% endblock %}
  </body>
  <script src="{% static 'particlejs/particles.js' %}"></script>
  <script src="{% static 'particlejs/js/app.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</html>
