{% extends 'base.html' %}

{% block content %}
 
  <div id="drawer" class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content"> 
      <!-- Page content here --> 
        {% include "homepage/components/navbar.html" %}
        {% include "homepage/components/baner.html" %}
        {% include "homepage/components/sobre.html" %}
        {% include "homepage/components/extatistica.html" %}
        {% include "homepage/components/courses.html" %} 
        {% include "homepage/components/cta.html" %}
        {% include "homepage/components/galeria.html" %}
        {% include "homepage/components/footer.html" %}
    </div>  
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-full sm:w-80 min-h-full bg-base-200 text-base-content items-center">
        <!-- Sidebar content here -->
        <li>
          <hr class="my-10"/>         
        </li>
       
        <li>
          <a 
            href="https://www.linkedin.com/in/daniel-silva-franca/"
            class="btn btn-wide" 
            target="blank"
            >
            Linkedin
          </a>
        </li>
        <li>
            <a 
              href="https://github.com/DanielFrancaContaGit" 
              class="btn btn-wide" 
              target="blank"
              >
              Github
            </a>
        </li>
        <li>
            <a 
              href="https://docs.google.com/document/d/1_35lyoMX-ScYCYjFIxCiP0WZJmvLNyH8t839Mbl4rl0/edit#heading=h.5x0d5h95i329" 
              class="btn btn-wide"
              target="blank"
              >
              CV Curriculo
            </a>
        </li>
        <li>
            <a 
              href="#projetos"
              class="btn btn-wide drawer-button"
              onclick="trogleDrawer(true)"
              >
                Projetos
            </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
