{% extends 'base.html' %}

{% block content %}

  {% include "homepage/components/navbar.html" %}
  {% include "homepage/components/baner.html" %}
  {% include "homepage/components/sobre.html" %}
  {% include "homepage/components/extatistica.html" %}
  {% include "homepage/components/recursos.html" %}
  {% include "homepage/components/desenvolvedor.html" %}
  {% include "homepage/components/cta.html" %}
  {% include "homepage/components/contato.html" %}
  {% include "homepage/components/courses.html" %}
  {% include "homepage/components/galeria.html" %}
  {% include "homepage/components/footer.html" %}

{% endblock %}
